.circular
{
  border-radius: 40px !important;
}
#my-image{
  max-height: 300px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
