main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid purple;
    margin-bottom: 2rem;
}

.navbar {
    background-color: #9425A7;
}

footer.page-footer {
    background-color: #9425A7;
    margin-top: 2rem;
}
pre{
	background-color: #F0F0F0;
	padding: 10px;
	border-radius: 5px;
}
.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
  }

  .hovercard .cardheader {
    background: url("http://orig11.deviantart.net/781d/f/2015/014/4/e/numa_flat_rags_wallpaper_purple_light_by_microfreaks-d8dyf8d.png");
    background-size: cover;
    height: 300px;
  }

  .hovercard .avatar {
    position: relative;
    top: -50px;
    align-self: center;
    margin-bottom: -50px;
  }

  .hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
  }

  .hovercard .info {
    padding: 4px 8px 10px;
  }

  .hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }

  .hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
  }

  .hovercard > .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }
  a, a:hover, a:active, a:focus, a:visited, a:link, a:link:active, a:visited:active{
    outline: none;
}